
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card shadow mb-4">
    <div class="card-header py-2">
        <a asp-controller="Manufacturer" asp-action="Upsert" type="submit" class="float-lg-right btn btn-info ml-2" style="color:white">
            <i class="fas fa-plus fa-sm"></i>
            Add Manufacturer
        </a>
        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search float-right">
            <div class="input-group">
                <select id="columnName" name="columnName" class="form-control bg-light small" aria-label="Search" aria-describedby="basic-addon2">
                    <option value="All">...Find For</option>
                    <option value="Name">Name</option>
                    <option value="Nation">Nation</option>
                    <option value="Phone">Phone</option>
                    <option value="Email">Email</option>
                </select>
                <input id="searchFor" type="text" class="form-control small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-info" onclick="SearchFor()" type="button">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="card-body">
        <div class="">
            <table class="table-bordered border-dark text-gray-900" id="tblData" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Nation</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Assets/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/js/manufacturer.js"></script>
}

