@model TechnologyGroup12.Models.Models.BillDetail
@{
    var Title = "ADD BILL DETAIL";

    if (Model.Id.ToString() != "00000000-0000-0000-0000-000000000000")
    {
        Title = "UPDATE BILL DETAIL";
    }

    ViewData["Title"] = Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <!-- Nested Row within Card Body -->
    <div class="row">
        <div class="offset-3 col-lg-6 ">
            <div class="p-5">
                <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">@Title</h1>
                </div>
                <form asp-action="Upsert" method="post">
                    <div class="row">
                        <div class="col-3 text-lg">
                            <label>Bill Id:</label>
                        </div>
                        <div class="form-group col-9">
                            <input asp-for="BillId" type="text" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 text-lg">
                            Product:
                        </div>
                        <div class="form-group col-9">
                            @Html.DropDownListFor(m => m.ProductId, Model.ProductList, "-Select a Product",
                           new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 text-lg">
                            <label>Quantity:</label>
                        </div>
                        <div class="form-group col-9">
                            <input asp-for="Quantity" type="number" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 text-lg">
                            <label>Total Price:</label>
                        </div>
                        <div class="form-group col-9">
                            <input asp-for="TotalPrice" type="number" step="0.01" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 text-lg">
                            <label>Discount:</label>
                        </div>
                        <div class="form-group col-9">
                            <input asp-for="Discount" type="number" step="0.01" class="form-control" readonly>
                        </div>
                    </div>

                    @if (Model.Id.ToString() == "00000000-0000-0000-0000-000000000000")
                    {
                        <button type="submit" class="btn btn-primary btn-user btn-block">
                            Add
                        </button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary btn-user btn-block">
                            Update
                        </button>
                    }
                    <a asp-controller="Bill" asp-action="Upsert" asp-route-id="@Model.BillId" class="btn btn-warning btn-user btn-block">
                        < Back To List
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>

