@model TechnologyGroup12.Models.Models.Dependents
@{
    var Title = "ADD DEPENDENTS";

    if (Model.Id.ToString() != "00000000-0000-0000-0000-000000000000")
    {
        Title = "UPDATE DEPENDENTS";
    }

    ViewData["Title"] = Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <!-- Nested Row within Card Body -->
    <div class="row">
        <div class="offset-3 col-lg-6 ">
            <div class="p-5">
                <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">@Title</h1>
                </div>
                <form asp-action="Upsert" method="post" class="user">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-3 text-lg">
                            <label>Employee Id:</label>
                        </div>
                        <div class="form-group col-9">
                            <input asp-for="EmployeeId" type="text" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <input asp-for="Name" type="text" class="form-control" placeholder="Enter Your Name...">
                        <span asp-validation-for="Name" class="text-danger offset-1"></span>
                    </div>
                    <div class="row">
                        <div class="col-3 text-lg">
                            <label>Birthday:</label>
                        </div>
                        <div class="form-group col-9">
                            <input asp-for="Birth" type="datetime-local" class="form-control" placeholder="Password">
                            <span asp-validation-for="Birth" class="text-danger offset-1"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 text-lg">
                            <label>Gender:</label>
                        </div>
                        <div class="form-group col-9">
                            <select asp-for="Gender" name="Gender" class="form-control">
                                <option value="Other">Other</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <input asp-for="Phone" type="text" class="form-control" placeholder="Enter Your Phone...">
                    </div>

                    <div class="form-group">
                        <input asp-for="Relationship" type="text" class="form-control" placeholder="Enter Your Relationship...">
                        <span asp-validation-for="Phone" class="text-danger offset-1"></span>
                    </div>


                    @if (Model.Id.ToString() == "00000000-0000-0000-0000-000000000000")
                    {
                        <button type="submit" class="btn btn-primary btn-user btn-block">
                            Add
                        </button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary btn-user btn-block">
                            Update
                        </button>
                    }
                    <a asp-controller="Employee" asp-action="Upsert" asp-route-id="@Model.EmployeeId.ToString()" class="btn btn-warning btn-user btn-block">
                        < Back To List
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>

