@model TechnologyGroup12.Models.ExtentionModels.ServerConnection
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Login</title>

    <!-- Custom fonts for this template-->
    <link href="~/Assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Assets/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-6 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row justify-content-center">

                            <div class="col-lg-10 ">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">CONNECT TO YOUR SERVER</h1>
                                    </div>
                                    <form method="post" class="user">
                                        <div class="form-group">
                                            <input asp-for="serverName" type="text" class="form-control" placeholder="Enter Server...">
                                            <span asp-validation-for="serverName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <select type="text" class="form-control" id="DropDownAuthen" onchange="showHide()" placeholder="Enter Authentication...">
                                                <option value="Window Authentication">Window Authentication</option>
                                                <option value="SQL Server Authentication">SQL Server Authentication</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <input asp-for="userName" type="text" class="form-control" id="readonlyUserInput" placeholder="Username" readonly>
                                        </div>
                                        <div class="form-group">
                                            <input asp-for="passWord" type="text" class="form-control" id="readonlyPasswordInput" placeholder="Password" readonly>
                                        </div>
                                        @if (Model.databaseTable.Count() > 0 && Model.databaseName == null)
                                        {
                                            <div class="form-group">
                                                @Html.DropDownListFor(m => m.databaseName, Model.databaseTable, "-Select a Table", new { @class = "form-control" })
                                                <span asp-validation-for="databaseName" class="text-danger"></span>
                                            </div>
                                            <button onclick="GetDatabase()" type="submit" class="btn btn-info btn-user btn-block" style="color:black ; font-size:large">
                                                Connect
                                            </button>
                                        }
                                        else if (Model.databaseTable.Count() > 0 && Model.databaseName != null)
                                        {
                                            <div class="form-group">
                                                @Html.DropDownListFor(m => m.databaseName, Model.databaseTable, "-Select a Table", new { @class = "form-control" })
                                                <span asp-validation-for="databaseName" class="text-danger"></span>
                                            </div>                     
                                            <a asp-controller="Home" asp-action="Index" class="btn btn-success btn-user btn-block" style="color:black ; font-size:large">
                                                Go To Index
                                            </a>
                                        }
                                        else
                                        {
                                            <div class="form-group">
                                                @Html.DropDownListFor(m => m.databaseName, Model.databaseTable, "-Select a Table", new { @class = "form-control", disabled = "disabled" })
                                            </div>
                                            <button onclick="GetDatabase()" type="submit" class="btn btn-warning btn-user btn-block" style="color:black ; font-size:large">
                                                Connect
                                            </button>
                                        }
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/Assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Assets/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Assets/js/sb-admin-2.min.js"></script>

    <script type="text/javascript">
        function showHide() {
            var val = document.getElementById("DropDownAuthen").value;
            if (val == "Window Authentication") {
                document.getElementById("readonlyUserInput").readOnly = true;
                document.getElementById("readonlyPasswordInput").readOnly = true;
            }

            else {
                document.getElementById("readonlyUserInput").readOnly = false;
                document.getElementById("readonlyPasswordInput").readOnly = false;
            }
        }
    </script>
</body>

</html>

