@model TechnologyGroup12.Models.Models.Discount
@{
    var Title = "ADD DISCOUNT";

    if (Model.Id != null)
    {
        Title = "UPDATE DISCOUNT";
    }

    ViewData["Title"] = Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <!-- Nested Row within Card Body -->
    <div class="row">
        <div class="offset-3 col-lg-6 ">
            <div class="p-5">
                <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">@Title</h1>
                </div>
                <form method="post" class="user">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-3 text-lg">
                            <label>Code:</label>
                        </div>
                        <div class="form-group col-9">
                            <input asp-for="Id" type="text" class="form-control" id="discountId">
                            <span asp-validation-for="Id" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 text-lg">
                            <label>Name:</label>
                        </div>
                        <div class="form-group col-9">
                            <input asp-for="Name" type="text" class="form-control">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 text-lg">
                            <label>Description:</label>
                        </div>
                        <div class="form-group col-9">
                            <input asp-for="Description" type="text" class="form-control">
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 text-lg">
                            <label>Discount:</label>
                        </div>
                        <div class="form-group col-9">
                            <input asp-for="DiscountValue" type="number" class="form-control" placeholder="Enter Discount Value...">
                            <span asp-validation-for="DiscountValue" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 text-lg">
                            <label>Start:</label>
                        </div>
                        <div class="form-group col-9">
                            <input asp-for="StartDate" type="date" class="form-control">
                            <span asp-validation-for="StartDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 text-lg">
                            <label>End:</label>
                        </div>
                        <div class="form-group col-9">
                            <input asp-for="EndDate" type="date" class="form-control">
                            <span asp-validation-for="EndDate" class="text-danger"></span>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary btn-user btn-block">
                        Upsert
                    </button>

                    <a asp-controller="Discount" asp-action="Index" class="btn btn-warning btn-user btn-block">
                        < Back To List
                    </a>
                </form>
            </div>
        </div>
    </div>
    @if(@Model.Id != "")
    {
    <div class="card shadow mb-4">
        <div class="card-header py-2">
            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search float-right">
                <div class="input-group">
                    <a asp-controller="DiscountProduct" asp-action="Insert" asp-route-id="@Model.Id" type="submit" class="btn btn-primary mr-3" style="color:white">
                        Add Product In Discount
                    </a>
                    <select name="Gender" class="form-control bg-light border-0 small" aria-label="Search" aria-describedby="basic-addon2">
                        <option value="Name">Name</option>
                        <option value="Phone">Phone</option>
                        <option value="Email">Email</option>
                        <option value="Address">Address</option>
                    </select>
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-body">
            <div class="">
                <br />
                <table class="table table-bordered" id="tblData" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    }
</div>

@section Scripts{
    <script src="~/Assets/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/js/discountproduct.js"></script>
}

